---
layout: default
---

{% include slider.html content="<h2>Accepted papers</h2>"%}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted papers</h2></header>
              <h3><p>The following papers have been accepted to SoCC 2026 (Round 1). Titles and author lists may change during the shepherding process.</p></h3> <br><br>

              <p>
              <h3>Spanner-RSS+: Diagnosing and Reducing Safe-Time Waiting of Read-only Transactions in Spanner-RSS</h3>
              <h4 class="talk-title">- Sejong Kim (Korea University); Hena Cho (Korea University); Yon Dohn Chung (Korea University)</h4></p>

              <p>
              <h3>FCP: Fast User-space RDMA Control Plane Setup for Elastic Computing</h3>
              <h4 class="talk-title">- Junxue Zhang (University of Science and Technology of China); Han Tian (USTC); Xinyang HUANG (Hong Kong University of Science and Technology); Wenxue Li (Hong Kong University of Science and Technology); Kaiqiang Xu (Hong Kong University of Science and Technology); Dian Shen (Southeast University); Kai Chen (Hong Kong University of Science and Technology); Kaiqiang Xu (Google &amp; HKUST)</h4></p>

              <p>
              <h3>FlowWise: Fast–Slow Model Orchestration for Line-Rate Network Traffic Intelligence</h3>
              <h4 class="talk-title">- Shinan Liu (University of Hong Kong); Ted Shaowang (University of Chicago); Gerry Wan (Stanford University); Jeewon Chae (University of Chicago); Jonatas Marques (University of Chicago); Sanjay Krishnan (University of Chicago); Nick Feamster (University of Chicago); Jonatas Marques (Federal University of Rio Grande do Sul)</h4></p>

              <p>
              <h3>FedRD: Towards Memory-efficient Federated Learning via Adaptive Recomputation and Defragmentation</h3>
              <h4 class="talk-title">- Kahou Tam (University of Macau); Ziyu Gong (University of Macau); Li Li (University of Macau); ChengZhong Xu (University of Macau)</h4></p>

              <p>
              <h3>PEACE: Power and Performance Aware Colocation for Efficient GPU Spatial Partitioning</h3>
              <h4 class="talk-title">- Bing-Shiun Han (Stony Brook University); Chaitanya Sundeep Subhedar (Stony Brook University); Kunaal Parekh (Stony Brook University); Wan-Chu Lin (Stony Brook University); Zhenhua Liu (Stony Brook University); Anshul Gandhi (Stony Brook University)</h4></p>

              <p>
              <h3>Spandana: Reconciling Strict SLOs with Low Cost under Fine-Grained Load Fluctuations</h3>
              <h4 class="talk-title">- Dilina Dehigama (University of Edinburgh); Shyam Jesalpura (University of Edinburgh); Zeyu Xu (University of Edinburgh); Marton Nemeth (University of Edinburgh); Shengda Zhu (The University of Edinburgh); Marios Kogias (Imperial College London); Boris Grot (University of Edinburgh)</h4></p>

              <p>
              <h3>TRAM: Tree-based atomic multicast on RDMA</h3>
              <h4 class="talk-title">- Lorenzo Martignetti (Università della Svizzera Italiana); Eliã Batista (Università della Svizzera italiana); Gianpaolo Cugola (Politecnico di Milano); Fernando Pedone (Università della Svizzera italiana (USI))</h4></p>

              <p>
              <h3>Tessera: Contract-Driven Cost–SLO Optimization for Multi-tenant GPU Clouds</h3>
              <h4 class="talk-title">- Rui Li (Hill Research); Shuang Cao (Hill Research)</h4></p>

              <p>
              <h3>ExclaveFL: Verifiable Claims for Federated Learning using Exclaves</h3>
              <h4 class="talk-title">- Jinnan Guo (Imperial College London); Kapil Vaswani (None); Andrew Paverd (Microsoft Security Response Center); Peter Pietzuch (Imperial College London)</h4></p>

              <p>
              <h3>Cadence: Taming Coupled Contention in Disaggregated Agent Clouds</h3>
              <h4 class="talk-title">- Rui Li (Hill Research); Shuang Cao (Hill Research)</h4></p>

              <p>
              <h3>The Kernel Always Knows: Understanding Isolation via Kernel Objects</h3>
              <h4 class="talk-title">-  Anjali (University of Wisconsin-Madison); Michael M. Swift (University of Wisconsin--Madison)</h4></p>

              <p>
              <h3>Memory-Decoupled Layer-Wise Fine-Tuning for Efficient On-Device LLM Adaptation</h3>
              <h4 class="talk-title">- YEBO WU (University of Macau); Jingguang Li (University of Macau); Chunlin Tian (University of Macau); Kahou Tam (University of Macau); zhijiang guo (The Hong Kong University of Science and Technology (Guang Zhou)); Li Li (University of Macau); Kahou Tam (University of Macau)</h4></p>

              <p>
              <h3>BoxD: Managing GPU Managed Memory</h3>
              <h4 class="talk-title">- Utkarsh Tiwari (Indian Institute of Technology Bombay); Purushottam Kulkarni (Indian Institute of Technology Bombay)</h4></p>

              <p>
              <h3>Robust and efficient replication with CAV data structures</h3>
              <h4 class="talk-title">- Eliã Batista (Università della Svizzera italiana); Eduardo Alchieri (University of Brasilia); Paulo Coelho (Federal University of Uberlandia, Brazil); Fernando Dotti (PUC); Fernando Pedone (Università della Svizzera italiana (USI))</h4></p>

              <p>
              <h3>SlimeMold: Scaling Distributed Hardware Load Balancers via a Unified Giant Connection Table</h3>
              <h4 class="talk-title">- Ziyuan Liu (Beihang University &amp; Microsoft Research); Zhixiong Niu (Microsoft Research); Ran Shu (Microsoft Research); Jianqin Zhang (Ruijie Networks); Guohong Lai (Ruijie Networks); Liang Gao (Ruijie Networks); Na Wang (Broadcom Inc.); Zongying He (Broadcom Inc.); Jacob Nelson (Microsoft Research); Dan R. K. Ports (Microsoft Research); Lihua Yuan (Microsoft); Peng Cheng (Microsoft Research); Yongqiang Xiong (Microsoft Research); Ran Shu (Microsoft Research)</h4></p>

              <p>
              <h3>MosaicKV: SLO-Aware KV-Cache Virtualization for Multi-Tenant LLM Serving in the Cloud</h3>
              <h4 class="talk-title">- Rui Li (Hill Research); Shuang Cao (Hill Research)</h4></p>

              <p>
              <h3>Evaluating Agentic Systems Across the Lifecycle: A Taxonomy of Drifts and Success Criteria</h3>
              <h4 class="talk-title">- Gaurav Saxena (Independent Researcher); Ildar Iskhakov (Archestra.AI); Innokentii Konstantinov (Archestra.AI); Matvey Kukuy (Archestra.AI)</h4></p>

              <p>
              <h3>No Request Left Behind: Tackling Heterogeneity in Long-Context LLM Inference with Medha</h3>
              <h4 class="talk-title">- Amey Agrawal (Georgia Tech); Haoran Qiu (Microsoft Azure Research); Junda Chen (University of California San Diego); Íñigo Goiri (Microsoft); Rayyan Shahid (Georgia Institute of Technology); Ram Ramjee (Microsoft Research India); Alexey Tumanov (Georgia Tech); Esha Choukse (Microsoft); Rayyan Shahid (Georgia Institute of Technology)</h4></p>

              <p>
              <h3>On Evaluating Performance of LLM Inference Serving Systems</h3>
              <h4 class="talk-title">- Amey Agrawal (Georgia Tech); Nitin Kedia (UT Austin); Anmol Agarwal (Apple Inc); Jayashree Mohan (Microsoft Research); Nipun Kwatra (Microsoft Research); Souvik Kundu (Intel Research); Ramachandran Ramjee (Microsoft Research); Alexey Tumanov (Georgia Tech); Nipun Kwatra (Microsoft Research India)</h4></p>

          </div>
          <!-- /.section-content -->
        </section>
        <!-- /.main-content -->
      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">{% include latest-news.html %}</div>
      <!-- /.col-md-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- end Content -->
