---
layout: default
---


{% include slider.html content="<h2>Suggested Hotels</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Suggested Hotels</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
<p>SoCC 2026 has secured a discounted room block at the conference venue, the <b>Shangri-La Rasa Sentosa Resort &amp; Spa</b>. We encourage attendees to book within the room block to enjoy the group rate and to stay on-site at the conference venue.</p>

<h2>Shangri-La Rasa Sentosa Resort &amp; Spa (Conference Venue)</h2>
<ul>
  <li><b>Address:</b> 101 Siloso Road, Sentosa, Singapore 098970</li>
  <li><b>Group booking code:</b> NUS181126</li>
  <li><b>Booking link:</b> <a href="https://www.shangri-la.com/singapore/rasasentosaresort/?timeZone=+8&amp;specialCode=NUS181126&amp;specialCodeType=Group&amp;checkInDate=2026-11-17&amp;checkOutDate=2026-11-21" target="_blank">Reserve at the SoCC 2026 group rate &raquo;</a></li>
</ul>

<p>The booking link above pre-fills the SoCC 2026 group rate. You may adjust your check-in and check-out dates within the booking system as needed.</p>

</div><!-- /.section-content -->
</section><!-- /.main-content -->
</div><!-- /.col-md-6 -->


</div>
</div>
</div>
