---
layout: default
---

{% include slider.html content="<h2>Keynote talks</h2>"%}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">


      <!-- <font size="+2">TBA</font> -->

      <div class="section-content">
        <h2>Keynote Speakers</h2>
	  {% include keynote-speaker.html key="hellerstein" photo="assets/img/hellerstein.jpeg" %}
	      <br>
	  {% comment %}
	  {% include keynote-speaker.html key="irene" photo="assets/img/irene.jpeg" %}
	      <br>
	      <br>
              <br />
	  {% include keynote-speaker.html key="anastasia" photo="assets/img/anastasia.jpeg" %}
	      <br>
	  {% endcomment %}
      </div>


      <!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <!-- <div class="col-md-3">
    {% include latest-news.html %}
  </div> -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
