---
layout: default
---


{% include slider.html content="<h2>Sponsors</h2>"%}


<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <!-- <div class="col-md-1"> -->
      <!-- </div>/.col-md-1 -->

      <div class="col-md-7">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Our sponsors</h2></header>
            <p>
	          The ACM Symposium on Cloud Computing 2026 (SoCC '26) is the sixteenth in an established series of symposia that bring
              together researchers, developers, users, and practitioners interested in cloud computing. SoCC is co-sponsored
              by the ACM Special Interest Groups on Management of Data (SIGMOD) and on Operating Systems (SIGOPS).
            </p>
		      
            <br>

            <!-- <font size="+2">TBA</font> -->
      
            <a id="platinumsponsors"><h2>Platinum sponsors</h2></a>
              {% include platinum-sponsors.html %}
            <br><br><br> 
            

            <a id="silversponsors"><h2>Silver sponsors</h2></a>
              {% include silver-sponsors.html %} 
            <br><br><br>

            <!-- {%comment%} -->

            <!-- <a id="bronzesponsors"><h2>Bronze sponsors</h2></a>
              {% include bronze-sponsors.html %} 
            <br><br> -->

            <!-- <a id="coppersponsors"><h2>Copper sponsors</h2></a>
              {% include copper-sponsors.html %} 
            <br><br> -->

	          <!-- <a id="diversitysponsors"><h2>Diversity sponsor</h2></a>
              {% include diversity-sponsors.html %} -->

            <!-- {%endcomment%} -->
           
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div> <!-- /.col-md-7 -->

      <!-- <div class="col-md-3">
        {% include latest-news.html %}
      </div> -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
