<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-2 col-sm-2" style="width: 15%">
        </div>
        <div class="col-md-8 col-sm-8">
          <header>
            <h2>ACM Symposium on Cloud Computing 2026</h2>
            <h3 style="color:white">SoCC'26 will take place in person in Singapore.</h3>
            <h3 style="color:white">November 18-20, 2026</h3>
          </header>

          {%comment%}
          <div class="row">
            <div class="image-chaminade">
              <div class="slide">
                <div class=figure>
              <img src="assets/img/banner-temp-2024.png" alt="" style="max-width: 100%;"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-chaminade -->
          </div><!-- /.row -->
          {%endcomment%}

        </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->

{%comment%}
<!-- Slider -->
<div id="slider">
  <div class="container">
      <div class="row">
          <div class="row">
              <div class="slide">
                <div class=figure>
              <p><img src="assets/img/banner2.png" alt="" style="width:100%;"></div></p>
              </div><!-- /.slide -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->

  </div><!-- /.container -->
</div>
<!-- end Slider -->
{%endcomment%}
